body{
    background: aquamarine;
}
#sorteio{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 620px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.541);
}
#sorteio h1{
    text-align: center;
    background: orange;
}

button{
    color:red;
}
#res{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 620px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.541);
}
#res h1{
    text-align: center;
    background: orange;
}
h5{
    text-align: center;
}